@import "vars";

@mixin display ($display, $direccion, $justify) {

    display: $display;
    flex-direction: $direccion;
    justify-content: $justify;

}


/*COMENCE LOS ESTILOS EN 316PX*/


.gridCon {
    display: grid;
    grid-template-areas:
        "headerHome"
        "mainHome"
        "footerHome";
    grid-template-rows: 7.1% 84.8% 8%;
    min-height: 100vh;
    font-family: $negro 'Comfortaa', cursive;
    gap: 1px;


    .flexHdCon {
        @include display(flex, row, space-between);
        background-color: $hdCon;


        .navbarCon {
            background-color: $hdCon;
            width: 100%;
            position: relative;
            @include display(flex, row, between);
            flex-wrap: wrap;
            align-items: center;
            padding: 5px;


            .container-fluidCon {
                @include display(flex, row, space-between);
                flex-wrap: inherit;
                align-items: center;
                width: 100%;


                .navbar-brandCon {
                    padding-top: 0.3125rem;
                    padding-bottom: 0.3122rem;


                    .imgHdCon {
                        max-width: 199.5px;
                    }
                }


                .navbar-collapseCon {
                    width: 100%;


                    .navbar-navCon {
                        @include display(flex, column, center);
                        padding-left: 0;
                        margin-bottom: 0;
                        list-style: none;


                        .nav-linkCon {
                            color: $negro;
                            text-align: center;
                            background-color: $blanco;
                            font-size: 14.1px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            margin-bottom: 0px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }


    .mainCon {
        background: $mainCon;
        padding: 20px;
        padding-top: 10px;


        .flexTituloCon {
            display: flex;
            flex-direction: column;
            align-items: center;


            h1 {
                color: $negro;
                text-align: center;
                font-size: 70px;
                margin-top: 0px;
                margin-bottom: 20px;
                font-family: 'Euphoria Script', cursive;
            }


            p {
                font-size: 20px;
                font-family: $negro 'Comfortaa', cursive;
            }
        }


        .marcoForm {
            border: 2px $negro solid;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;


            .palabraForm {
                color: $negro;
                font-family: 'Comfortaa', cursive;
                font-size: 22px;
                margin: 0px 20px;
            }


            .formCon {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $ftCon;
                border-radius: 20px;
                padding: 10px;

                .flexFormulario {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 20px;


                    .nombreInputs {
                        color: $negro;
                        font-family: 'Comfortaa', cursive;
                        font-size: 22px;
                        margin: 10px 30px;
                    }


                    .inputsForm {
                        width: 15em;
                        padding: 5px;
                        border-radius: 20px;
                        border: 2px solid $blanco;
                        background-color: $ftCon;
                        margin-bottom: 5px;
                        text-align: center;
                        font-size: 15px;
                    }
                }


                .flexInputCon {
                    @include display(flex, row, space-evenly);
                    padding-bottom: 10px;
                    margin-left: 5px;


                    .inputCon {
                        padding: 5px;
                        border: 2px solid $blanco;
                        border-radius: 20px;
                        background-color: $hdCon;
                        margin-top: 10px;
                        font-family: 'Comfortaa', cursive;
                        font-size: 22px;
                        margin-right: 5px;
                    }
                }
            }
        }


        .princesCon {
            @include display(flex, row, center);


            .princesosCon {
                border-radius: 20px;
                width: 15em;
                height: 15em;
                margin: 60px 10px;
            }
        }
    }


    .ftCon {
        @include display(flex, column, space-evenly);
        padding-top: 11px;
        background-color: $ftCon;


        p {
            font-size: 20px;
        }


        .flexBotonesCon {
            @include display(flex, row, space-around);
            align-items: center;


            .volverCon {
                margin: 0px;
                width: 44px;
                height: 30px;
            }


            .iconoCon {
                margin-top: 1px;
                height: 38px;
            }
        }
    }
}

/*PRIMER BREAKPOINT 524PX*/

@media (min-width: 524px) {

    .gridCon {
        display: grid;
        grid-template-areas:
            "headerHome"
            "mainHome"
            "footerHome";
        grid-template-rows: 5.5% 87.1% 8.8%;


        .flexHdCon {
            grid-area: headerHome;
            border-bottom: 0.5px solid $blanco;
            padding: 0px;
            padding-bottom: 2px;


            .navbarCon {
                flex-wrap: unset;
                width: 100%;


                .container-fluidCon {
                    padding: 0px;
                    flex-wrap: nowrap;
                    padding-left: 1px;


                    .navbar-brandCon {
                        margin: 0px;


                        .imgHdCon {
                            max-width: 170px;
                        }
                    }


                    button {
                        display: none;
                    }


                    .navbar-collapseCon {
                        display: flex;
                        flex-direction: row;


                        .navbar-navCon {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 0;
                            list-style: none;
                            width: 100%;
                            justify-content: flex-end;


                            .nav-linkCon {
                                padding: 3px 4px;
                                padding-bottom: 4.3px;
                                color: $negro;
                                background-color: $ftCon;
                                border: 2px solid $blanco;
                                border-radius: 20px;
                                font-size: 13px;
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }


        .mainCon {


            .flexTituloCon {


                h1 {
                    font-size: 130px;
                }


                p {
                    font-size: 25px;
                }
            }


            .marcoForm {
                margin: 0px 50px;


                .inputsForm {
                    margin: 0px 30px;
                }
            }
        }


        .ftCon {
            justify-content: space-evenly;
            padding-top: 8px;


            p {
                margin-top: 3px;
                font-size: 17px;
            }


            .flexBotonesCon {
                justify-content: space-around;
                padding-bottom: 3px;
                padding-left: 4px;
            }
        }
    }
}

/*SEGUNDO BREAKPOINT 868PX*/

@media (min-width: 868px) {

    .gridCon {
        display: grid;
        grid-template-rows: 5% 93% 7.8%;
        gap: 0px;


        .flexHdCon {
            border-bottom: 2px solid $blanco;
            @include display(flex, row, space-around);


            .navbarCon {


                .container-fluidCon {
                    @include display(flex, row, center);


                    .navbar-brandCon {


                        .imgHdCon {
                            margin-top: 5px;
                            width: 282px;
                            max-width: 282px;
                        }
                    }


                    .navbar-collapseCon {
                        width: 100%;
                        height: 100%;


                        .navbar-navCon {
                            width: 100%;


                            .nav-linkCon {
                                padding-right: 5px;
                                padding-left: 5px;
                                color: $negro;
                                background-color: $ftCon;
                                border: 2px solid $blanco;
                                border-radius: 30px;
                                font-size: 21.5px;
                                margin-left: 5px;
                                padding-top: 4px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }


        .mainCon {


            .flexTituloCon {


                h1 {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: 180px;
                }


                p {
                    font-size: 25px;
                }


                .marcoForm {


                    .palabraForm {
                        color: $negro;
                        font-family: 'Comfortaa', cursive;
                        font-size: 25px;
                        margin: 0px 40px;
                    }


                    .inputCon {
                        margin-top: 30px;
                    }
                }
            }


            .princesCon {


                .princesosCon {
                    border-radius: 20px;
                    width: 30em;
                    height: 30em;
                    margin: 60px 10px;
                }
            }
        }


        .ftCon {
            border-top: 1px solid $blanco;
            padding-top: 10px;


            p {
                font-size: 19px;
                padding-bottom: 0px;
            }


            .flexBotonesCon {
                padding-left: 0px;
                align-items: center;
                justify-content: space-evenly;

                .volverCon {
                    margin: 0px;
                    width: 54px;
                    height: 40px;
                }


                .iconoCon {
                    width: 54px;
                    height: 48px;
                }
            }
        }
    }
}

/*TERCER BREAKPOINT DE 1096 VISTA DESKTOP*/

@media (min-width: 1096px) {

    .gridCon {
        display: grid;
        grid-template-areas:
            "headerHome"
            "mainHome"
            "footerHome";
        grid-template-rows: 5.2% 90% 6.6%;
        grid-template-columns: 100%;


        .flexHdCon {
            @include display(flex, row, space-between);
            border-bottom: 2px solid $blanco;


            .navbarCon {
                padding-left: 4px;


                .container-fluidCon {
                    margin-right: 35px;
                    margin-left: 50px;


                    .navbar-brandCon {


                        .imgHdCon {
                            width: 322px;
                            max-width: 322px;
                        }
                    }


                    .navbar-collapseCon {


                        .navbar-navCon {


                            .nav-linkCon {
                                font-size: 29.3px;
                                padding: 4px;

                                &:hover {
                                    background-color: $hdCon
                                }
                            }
                        }
                    }
                }
            }
        }


        .mainCon {


            .flexTituloCon {


                h1 {
                    font-size: 240px;
                }


                p {
                    font-size: 35px;
                    margin-bottom: 50px;
                }
            }


            .marcoForm {
                margin: 10px 200px;
                padding: 80px 200px;


                .palabraForm {
                    color: $negro;
                    font-family: 'Comfortaa', cursive;
                    font-size: 30px;
                    margin: 0px 40px;
                }


                .flexFormulario {
                    margin: 0px 40px;


                    .nombreInputs {
                        font-size: 40px;
                    }


                    .inputsForm {
                        height: 30px;
                        font-size: 25px;
                        color: $negro;
                        font-family: 'Comfortaa', cursive;
                        text-align: center;
                    }
                }
            }


            .princesCon {


                .princesosCon {
                    margin-top: 15em;
                    margin-bottom: 18em;
                    width: 40em;
                    height: 40em;
                }
            }
        }


        .ftCon {
            border-top: 2px solid $blanco;
            padding-top: 8px;
            padding-bottom: 0px;


            p {
                font-size: 30px;
            }


            .flexBotonesCon {
                margin-right: 0px;


                .volverCon {

                    &:hover {
                        opacity: 50%;
                    }
                }


                .iconoCon {

                    &:hover {
                        opacity: 50%;
                    }
                }
            }
        }
    }
}