@import "vars";

@mixin display ($display, $direccion, $justify) {

    display: $display;
    flex-direction: $direccion;
    justify-content: $justify;

}


/*ESTILOS GALERIA MOBILE FIRST COMENCE EN 316PX*/


.gridGal {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: grid;
    grid-template-areas:
        "headerHome"
        "mainHome"
        "footerHome";
    grid-template-rows: 4.1% 94% 5.2%;
    min-height: 100vh;


    .headerGal {
        grid-area: headerHome;
        background-color: $hdGal;
        @include display(flex, row, space-between);
        border-bottom: 1px solid $blanco;
        padding-left: 2px;
        padding-right: 2px;


        nav {
            background-color: $hdGal;
            padding: 0px;
            width: 100%;
            @include display(flex, row, center);


            .container-fluid {
                display: flex;
                flex-direction: row;
                padding-right: 4px;
                padding-left: 0px;
            }


            .navbar-brand {
                padding: 0px;


                .logoGal {
                    width: 200px;
                }
            }


            .navbar-nav {
                margin-top: 2px;
                margin-left: 4px;
                margin-right: 0px;


                .nav-link {
                    color: $negro;
                    background-color: $blanco;
                    font-size: 14px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-family: $negro 'Comfortaa', cursive;
                    text-decoration: none;
                }
            }
        }
    }


    .mainGal {
        grid-area: mainHome;
        background: $mainGal;
        padding: 5px;


        .flexTituloGal {


            h1 {
                color: $negro;
                text-align: center;
                font-family: 'Euphoria Script', cursive;
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 70px;
            }


            p {
                padding: 10px;
                font-size: 20px;
            }
        }


        .gridImgGal {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            margin-top: 20px;


            img {
                width: 25em;
                height: 25em;
                padding: 10px;
                border-radius: 50px;
            }
        }


        article {


            .flexHdosGal {


                h2 {
                    color: $negro;
                    text-align: center;
                    font-size: 45px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-family: 'Euphoria Script', cursive;
                }


                p {
                    padding: 10px;
                    font-size: 15px;
                }
            }
        }
    }


    .flexFtGal {
        grid-area: footerHome;
        background-color: $ftGal;
        border-top: 1px solid $blanco;
        padding-top: 12px;
        @include display(flex, column, space-evenly);


        p {
            font-size: 20px;
        }


        .flexBotonesFtGal {
            @include display(flex, row, space-around);
            align-items: center;
            margin-left: 10px;


            .volverGal {
                height: 30px;
            }


            .iconosGal {
                width: 38px;
            }
        }
    }
}

/*PRIMER BREAKPOINT DE 524PX*/

@media (min-width: 524px) {

    .gridGal {
        display: grid;
        grid-template-areas:
            "headerHome"
            "mainHome"
            "footerHome";
        grid-template-rows: 4.7% 93% 7.6%;


        .headerGal {
            grid-area: headerHome;
            border-bottom: 1px solid $blanco;
            padding: 0px;
            padding-bottom: 2px;


            nav {
                flex-wrap: unset;
                width: 100%;


                .container-fluid {
                    padding: 0px;
                    flex-wrap: nowrap;
                    padding-left: 1px;
                    padding-right: 6px;


                    .navbar-brand {
                        margin: 0px;


                        .logoGal {
                            max-width: 170px;
                        }
                    }


                    button {
                        display: none;
                    }


                    .collapse.navbar-collapse {
                        @include display(flex, row, center);


                        .navbar-nav {
                            @include display(flex, row, flex-end);
                            margin-bottom: 0;
                            list-style: none;
                            width: 100%;


                            .nav-link {
                                padding: 3px 4px;
                                padding-bottom: 4.3px;
                                color: $negro;
                                background-color: $ftGal;
                                border: 2px solid $blanco;
                                border-radius: 20px;
                                font-size: 13px;
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }


        .mainGal {


            .flexTituloGal {


                h1 {
                    font-size: 120px
                }


                p {

                    font-size: 25px;
                }
            }


            .gridImgGal {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-items: center;
                row-gap: 1px;
            }


            article {


                .flexHdosGal {


                    h2 {
                        font-size: 70px;
                    }


                    p {
                        font-size: 20px;
                    }
                }
            }


        }


        .flexFtGal {


            p {
                font-size: 17px
            }


            .flexBotonesFtGal {
                margin-left: 8px;
            }
        }
    }
}

/*SEGUNDO BRACKPOINT DE 868*/

@media (min-width: 868px) {

    .gridGal {
        display: grid;
        grid-template-rows: 5.6% 96% 8.6%;


        .headerGal {
            border-bottom: 2px solid $blanco;
            @include display(flex, row, space-around);


            nav {


                .container-fluid {
                    @include display(flex, row, center);


                    .navbar-brand {


                        .logoGal {
                            margin-top: 5px;
                            width: 282px;
                            max-width: 282px;
                        }
                    }


                    .collapse.navbar-collapse {
                        width: 100%;
                        height: 100%;


                        .navbar-nav {
                            width: 100%;
                            margin-right: 5px;


                            .nav-link {
                                padding-right: 5px;
                                padding-left: 5px;
                                color: $negro;
                                background-color: $ftGal;
                                border: 2px solid $blanco;
                                border-radius: 30px;
                                font-size: 21.5px;
                                margin-left: 5px;
                                padding-top: 4px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }


        .mainGal {


            .flexTituloGal {


                h1 {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: 180px;
                }


                p {
                    font-size: 25px;
                }
            }


            .gridImgGal {
                padding: 20px;
                display: grid;
                grid-template-columns: 33% 33% 33%;
                column-gap: 5px;
                row-gap: 5px;


                img {
                    width: 28em;
                    height: 28em;
                }
            }


            article {


                .flexHdosGal {


                    h2 {
                        font-size: 100px;
                    }
                }
            }
        }


        .flexFtGal {
            padding-top: 10px;


            p {
                font-size: 19px;

            }


            .flexBotonesFtGal {
                justify-content: space-evenly;


                .volverGal {
                    margin: 0px;
                    width: 54px;
                    height: 40px;
                }


                .iconosGal {
                    width: 54px;
                    height: 48px;
                }
            }
        }
    }
}

/*TERCER BREAKPOINT DE 1096 VISTA DESKTOP*/

@media (min-width: 1096px) {

    .gridGal {
        display: grid;
        grid-template-areas:
            "headerHome"
            "mainHome"
            "footerHome";
        grid-template-rows: 5.6% 94% 7.1%;


        .headerGal {
            @include display(flex, row, space-between);
            border-bottom: 2px solid $blanco;


            nav {


                .container-fluid {
                    margin-right: 45px;
                    margin-left: 50px;


                    .navbar-brand {


                        .logoGal {
                            width: 322px;
                            max-width: 322px;
                        }
                    }


                    .collapse.navbar-collapse {


                        .navbar-nav {


                            .nav-link {
                                font-size: 29.5px;
                                padding: 4px;

                                &:hover {
                                    background-color: $hdGal;
                                }
                            }
                        }
                    }
                }
            }
        }


        .mainGal {


            .flexTituloGal {


                h1 {
                    font-size: 240px;
                }


                p {
                    font-size: 35px;
                }
            }


            .gridImgGal {
                padding: 0px;


                img {
                    width: 40em;
                    height: 40em;
                    padding: 0px;
                    margin-top: 15px;
                    box-shadow: 3px 7px 0px 2px $ftGal;

                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }


            article {


                .flexHdosGal {


                    h2 {
                        padding-bottom: 30px;
                        padding-top: 50px;
                        font-size: 180px;
                    }


                    p {
                        font-size: 30px;
                    }
                }
            }
        }


        .flexFtGal {
            border-top: 2px solid $blanco;


            p {
                font-size: 30px;
            }


            .flexBotonesFtGal {
                margin-left: 4px;


                img {

                    &:hover {
                        opacity: 50%;
                    }
                }
            }
        }
    }
}