$negro: black;
$blanco : white;

$hdHome : #ec407a;
$mainHome : linear-gradient(#ec407a, #ff9999);
$ftHome : #ff9999;


$hdSer : #2196f3;
$mainSer : linear-gradient(#2196f3, #B6D5F0);
$ftSer :  #B6D5F0;


$hdIns : #2ECC71;
$mainIns : linear-gradient(#2ECC71, #82e0aa);
$ftIns :  #82e0aa;


$hdGal: #A569BD;
$mainGal: linear-gradient(#A569BD, #D2B4DE);;
$ftGal :  #D2B4DE;


$hdCon :  #F39C12;
$mainCon : linear-gradient(#F39C12, #ffb74d);;
$ftCon : #ffb74d;






